@model List<List<DomainLayer.ViewModels.BirthdayViewModel>>
@using System.Globalization;
@{
    ViewData["Title"] = "AllBirthdays";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input class="w3-input w3-border w3-padding" type="text" placeholder="Search ..." id="myInput" onkeyup="myFunctionSearch()">

@if (Model[0].Count > 0)
{
    <div class="w3-button w3-block w3-gray w3-left-align w3-margin-top" onclick="myFunction('divTable0')">
        Past<i class="fa fa-caret-down"></i>
    </div>
    <div class="w3-hide" id="divTable0">
        <table class="w3-table-all w3-hoverable w3-border-0" id="table0">
            @foreach (var item in Model[0])
            {
                <tr class="tr1 w3-bar" type="submit" onclick="document.location = '/Home/Details/@item.Id'">
                    <td>
                        <img src=@if (item.ImageName != null) {@("~/Images/" + item.ImageName);}
            else {@("~/Images/img_avatar1.png")} asp-append-version="true" class="w3-bar-item w3-hide-small" style="height:60px">
                    </td>
                    <td>
                        <div class="card w3-opacity">
                            <span class="w3-large"><b>@item.PersoneName</b></span><br>
                            <span>@item.BirthdayDate.ToString("dd MMMM", new CultureInfo("en-US"))</span>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}
@if (Model[1].Count > 0)
{
    <div class="w3-button w3-block w3-gray w3-left-align" onclick="myFunction('divTable1')">
        Now<i class="fa fa-caret-down"></i>
    </div>
    <div class="w3-hide" id="divTable1">
        <table class="w3-table-all w3-hoverable" id="table1">

            @foreach (var item in Model[1])
            {
                <tr class="tr2 w3-bar" type="submit" onclick="document.location = '/Home/Details/@item.Id'">
                    <td>
                        <img src=@if (item.ImageName != null) {@("~/Images/" + item.ImageName);}
            else {@("~/Images/img_avatar1.png")} asp-append-version="true" class="w3-bar-item w3-hide-small" style="height:60px">
                    </td>
                    <td>

                        <div class="card w3-opacity">
                            <span class="w3-large"><b>@item.PersoneName</b></span><br>
                            <span>@item.BirthdayDate.ToString("dd MMMM", new CultureInfo("en-US"))</span>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}@if (Model[2].Count > 0)
{
    <div class="w3-button w3-block w3-gray w3-left-align" onclick="myFunction('divTable2')">
        Upcoming<i class="fa fa-caret-down"></i>
    </div>
    <div class="w3-hide" id="divTable2">
        <table class="w3-table-all w3-hoverable" id="table2">

            @foreach (var item in Model[2])
            {
                <tr class="tr3 w3-bar" type="submit" onclick="document.location = '/Home/Details/@item.Id'">
                    <td>
                        <img src=@if (item.ImageName != null) {@("~/Images/" + item.ImageName);}
            else {@("~/Images/img_avatar1.png")} asp-append-version="true" class="w3-bar-item w3-hide-small" style="height:60px">
                    </td>
                    <td>
                        <div class="card w3-opacity">
                            <span class="w3-large"><b>@item.PersoneName</b></span><br>
                            <span>@item.BirthdayDate.ToString("dd MMMM", new CultureInfo("en-US"))</span>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
}

<script>
    function myFunction(id) {
        var x = document.getElementById(id);
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

<script>
    function myFunctionSearch() {
        var input, filter, tableArr, trArr, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();

        tableArr = new Array();
        tableArr.push(document.getElementById("table0"));
        tableArr.push(document.getElementById("table1"));
        tableArr.push(document.getElementById("table2"));

        trArr = new Array();
        for (i = 0; i < tableArr.length; i++) {
            tr = tableArr[i].getElementsByTagName("tr");
            for (j = 0; j < tr.length; j++) {
                trArr.push(tr[j]);
            }
        }


        for (i = 0; i < trArr.length; i++) {
            td = trArr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    trArr[i].style.display = "";
                } else {
                    trArr[i].style.display = "none";
                }
            }
        }
    }
</script>